* {
    font-family: montserrat;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.top-navbar {
    background-color: #292929;
    position: relative;
}

.top-navbar-wrapper {
    padding: 15px 15px;
    color: #fdfdfd;
}

.top-navbar-wrapper-left {
    float: left;
}

.top-navbar-wrapper-right{
    float: right;
}

.top-navbar-wrapper-right-icons {
    display: none;
}

.top-navbar-wrapper-right-icons a {
    text-decoration: none;
    color: #fdfdfd;
    margin-left: 28px;
}

.top-navbar-wrapper-right-icons a:hover {
    color: #d3995f;
}

.top-navbar ul{
    list-style-type: none; 
}

.top-navbar-wrapper-left ul li {
    line-height: 24px;
    font-size: 15px;
}

.top-navbar-wrapper-left ul li a {
    text-decoration: none;
    color: #fdfdfd;
}

.top-navbar-wrapper-left ul li a:hover {
    color: #d3995f;
}

.top-navbar-wrapper-right-list ul{
    display: none;
}

.top-navbar-wrapper-right-list li a {
	display: block;
    text-decoration: none;
    color: #fcfcfc;
}

.top-navbar-wrapper-right-list li a:hover {
    color: #d3995f;
}

.top-navbar-wrapper-right-list ul.open{
    display:block;
    position: absolute;
    background-color: #2a2a2a;
    width: 100%;
    right: 0px;
    z-index: 5;
}

.acc {
    background: transparent;
    border: 0;
    outline: 0px;
    cursor: pointer;
}

ul.open li{
    padding: 5px 15px;
    line-height: 40px;
    text-align: center;
    font-size: 15px;
}

ul.open li:hover {
    background-color: #d3995f;
}

.navbar {
    background-color: #fcfcfc;;
}

.navbar-wrapper{
    position: relative;
    padding: 15px 15px;
    line-height: 0px;
}

.navbar-burger img {
    cursor: pointer;
}

li#logo {
    display: none;
}

.categories {
    /* float: left; */
    position: relative;
}

#logo-small {
    line-height: 0px;
    position: absolute;
    right: 15px;
    top: 15px;
}

.categories ul {
    list-style-type: none;
    display: none;
    margin-top: 8px;
}

.categories ul li{
    font-size: 15px;
    text-align: center;
}

.categories ul.shown {
    display: block;
    background-color: #fcfcfc;
    width: 100%;

}

.categories ul.shown li {
    line-height: 40px;
}

.header-main {
    display: none;
}

.bottom-navbar{
    background-color: #292929;
}

.bottom-navbar-wrapper {
    padding: 15px 15px;
}

.bottom-navbar-wrapper ul {
    list-style-type: none;
}

.shop-cart-icons {
    float: right;
}

.shop-cart-text {
    display: none;
}

.shop-cart-icons li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
}

.shop-cart-icons li a:hover {
    color: #d3995f;
}

.shop-cart-icons li {
    margin-left: 20px;
}

.lang-curr a {
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
}

.lang-curr {
    margin-bottom: 13px;
}

.lang-curr-dropdown li:first-child {
    padding: 12px 0px;
}

.lang-curr-dropdown li{
    padding-bottom: 6px;
}

.lang-curr li span {
    padding: 0px 8px;
}

.lang-curr ul:first-child {
    margin-right: 10px;
}

.lang-curr-dropdown li .fa-caret-down {
    visibility: hidden;
}

.lang-curr-dropdown li:hover {
    background-color: #d3995f;
}

.search-dollar {
    clear: both;
    margin-top: 6px;
}

.search-dollar li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
}

.search-dollar li:first-child {
    display: none;
}

.lang-curr > li {
    width: auto;
    display: inline-block;
    color: white;
    cursor: pointer;
}

.lang-curr {
    float: left;
}

.lang-curr li > ul {
    position: relative;
}

.lang-curr-dropdown {
    display: none;
    position: absolute;
    background: #292929;
}

.lang-curr-dropdown-visible {
    display: initial;
}

.shop-cart-icons li {
    width: auto;
    display: inline-block;
}

.search-dollar {
    float: right;
}

.search-dollar .fa-shopping-cart {
    padding: 3px;
    background: #d2985e;
    font-size: 15px;
}

.search-dollar .amount {
    background: #fcfcfc;
    color: black;
    font-size: 15px;
    padding: 1px 5px;
}




/* popular now */
.popular-now-wrapper {
    padding: 40px 15px;
}

.item-block-title {
    text-align: center;
    font-size: 30px;
    color: #d3995f;
}

.popular-now-nav {
    padding: 25px 0px 10px;
	text-align: center;
}

.popular-now-nav ul{
    list-style-type: none;
 	display: inline-block;
}

.popular-now-nav ul li a {
    text-decoration: none;
    color: #2a2a2a;
    font-size: 15px;
}

.popular-now-nav ul li {
    float: left;
	
}

.popular-now-nav ul li:not(:last-child) {
	margin-right: 16px;
}

.popular-now-nav a.active {
    color: #d3995f;
}

.popular-now-nav ul li a:hover {
    color: #d3995f;
}

.items-block {
    width: 100%;
}

.item1 {
    margin: 40px auto 0;

}

.item-img img{
    width: 100%;
    display: block;
    height: 265px;
    margin: 0 auto;
}

.item-desc ul li{
    list-style-type: none;
    text-align: center;
}

.item-desc ul li:first-child{
    padding: 18px 0px 10px;
}

.item-desc ul li a {
    text-decoration: none;
    font-size: 15px;
    color: #2a2a2a;
}

.item-desc ul li:nth-child(2) a {
    color: #d3995f;
}

.collection {
    background-color: #f9f9f9;
}

.collection-wrapper {
    padding: 40px 15px;
}

.collection-wrapper p {
    font-family: lora;
    font-size: 15px;
    color: #686868;
    width: 90%;
	line-height: 27px;
    margin: 0 auto;
    text-align: center;
    padding: 25px 0px;

}

.collection-wrapper button{
    border: 1px solid #d2985e;
    outline: 0px;
    background-color: transparent; 
    font-size: 15px;
    padding: 5px 10px;
    display: block;
    margin: auto;
    color: #2a2a2a;
    cursor: pointer;
}

.sales-ad {
    background-color: #292929;
    line-height: 40px;
    padding: 45px 0;
}

.sale-type {
    font-size: 20px;
    color: #d3995f;
    text-align: center;
}

.sales-off {
    font-size: 35px;
    color: #ffffff;
    text-align: center;
}

.newsletter {
    display: none;
}

.from-collection-wrapper{
    padding: 40px 15px;
}

.from-collection-header p {
    font-family: lora;
    font-size: 15px;
    color: #686868;
    padding: 15px 0;
	line-height: 25px;
}

.from-collection-navbar {
    text-align: center;
}

.from-collection-navbar-item {
    font-size: 13px;
    border: 1px solid #d2985e;
    background: transparent;
    padding: 5px 10px;
    cursor: pointer;
}

.from-collection-navbar a{
    display: inline-block;
    text-decoration: none;
    color: #2a2a2a;
}

.from-collection-navbar a:hover {
    color: #d3995f;
}

.from-collection-wrapper .items-block div:nth-child(n+5):nth-child(-n+8) {
    display: none;
}

.from-collection-wrapper button {
    border: 1px solid #d2985e;
    outline: 0px;
    background-color: transparent;
    font-size: 15px;
    padding: 5px 10px;
    display: block;
    margin: 20px auto 0px;
    color: #2a2a2a;
    cursor: pointer;
}

.about-us {
    display: none;
}

.footer {
    background-color: #292929;

}

.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4 {
    font-size: 15px;
}

.footer-wrapper {
    padding: 30px 15px;
    color: white;
    line-height: 30px;  
}

.footer-wrapper hr {
    margin: 18px 0;
    border: none;
    height: 1px;
    background-color: gray;
}

.footer-col-1 p {
    padding: 10px 0px;
}

.footer-col-1 .footer-logo a {
    display: block;
    line-height: 0;
}

.copyright a{
    color: #d3995f;
    text-decoration: none;
}

.footer-wrapper ul {
    list-style-type: none;
}

.footer-wrapper ul li a{
    text-decoration: none;
    color: white;
}

.footer-wrapper ul li a:hover {
    color: #d3995f;
}

.footer-wrapper ul li:first-child {
    font-size: 22px;
    padding-bottom: 7px;
	font-weight: bold;
}

.contact-us-title {
    font-size: 22px;
    padding-bottom: 7px;
	font-weight: bold;
}

.graphberry-gmail {
    font-size: 13px;
    border: 1px solid #d2985e;
    background: transparent;
    padding: 5px 10px;
    cursor: pointer;
    display: block;
    text-align: center;
    margin: 20px 0;
}

.footer-icons {
    float: right;
}

.footer-icons a {
    color: white;
    text-decoration: none;
    padding: 0px 10px;
}

.footer-icons a:hover {
    color: #d3995f;
}

.shown li a {
    text-decoration: none;
    color: #2a2a2a;
    display: block;
}

.shown li a:hover {
    background-color: #d3995f;
}


@media only screen and (min-width: 480px) {
    .item1 {
        width: 48.8923%;
        float: left;
    }

    .item1:nth-child(odd) {
        margin-right: 10px;
    }

    .popular-now-nav ul li:not(:last-child) {
        margin-right: 40px;
    } 
}


@media only screen and (min-width: 768px) {

    /* top nav bar */
    .top-navbar-wrapper {
        padding: 0px 15px;
        line-height: 30px;
    }


    .top-navbar-wrapper-left ul li{
        float: left;
        margin-right: 32px;
    }

    .top-navbar-wrapper-left ul li {
        line-height: unset;
    }

    .top-navbar-wrapper-right-icons{
        display: block;
        float: left;
    }

    button.acc {
        display: none;
    }

    .top-navbar-wrapper-right-list ul{
        display: block;
    }

    .top-navbar-wrapper-right-list ul li {
        float: left;
        margin-left: 32px;
    }

    .top-navbar-wrapper-right-list {
        float: right;
        padding: 0px 2px;
    }

    /* navbar */
    .navbar-burger {
        display: none;
    }

    .navbar-wrapper {
        line-height: unset;
        padding: 0px 15px;
    }

    #logo-small {
        display: inline-block;
        top: 17px;
    }

    li#logo {
        display: none;
    }

    .categories ul {
        display: block;
        margin-top: 0px;
        line-height: 60px;
    }

    .categories ul li {
        text-align: initial;
        /* float: left; */
        display: inline-block;
        width: auto; 
        margin: 0 auto;
        padding-right: 20px;
    }

    .categories ul li a{
        text-decoration: none;
        color: #2a2a2a;
        display: block;
    }

    .categories ul li a.category-active {
        color: #d3995f;
    }

    .categories ul li a:hover {
        color: #d3995f;
    }
    
    /* header-main */
    .header-main {
        display: block;
        background-color: #f9f9f9;
    }

    .header-main-wrapper {
        padding: 0 15px;
    }

    .header-main-wrapper-content {
        width: 87%;
        margin: 0 auto;
        position: relative;
    }

    .header-main-title {
        float: left;
        width: 58.8053%;
        padding-top: 35px;
        padding-bottom: 35px;
    }

    .header-main-title h1 {
        font-size: 32px;
        color: #d3995f;
    }

    .header-main-title p{
        font-family: lora;
        font-size: 15px;
        color: #686868;
        line-height: 30px;
        margin-top: 15px;
        margin-bottom: 18px;
    }

    .header-main-image {
        float: right;
        width: 35.9423%;
        position: absolute;
        right: 0;
        height: 100%;
    }

    .header-main-image img{
        width: 100%;
        height: 100%;
    }

    .header-main-title button{
        border: 1px solid #d2985e;
        background-color: transparent; 
        font-size: 15px;
        padding: 10px 18px;
        letter-spacing: 2px;
        color: #2a2a2a;
        cursor: pointer;
        outline: 0px;
    }

    /* bottom-navbar */

    .shop-cart-text {
        display: initial;
        float: right;
    }

    .shop-cart-text a {
        text-decoration: none;
        color: #fdfdfd;
        display: block;
    }

    .shop-cart-text a:hover {
        color: #d3995f;
    }

    .shop-cart-icons {
        display: none;
    }

    .shop-cart-text li {
        width: auto;
        display: inline-block;
        margin-left: 20px;
    }

    .search-dollar {
        float: none;
        margin-top: 37px;
    }

    .search-dollar li:first-child {
        display: initial;
        float: left;
    }
    .search-dollar li:nth-child(2) {
        float: right;
    }

    .search-dollar li:first-child input{
        border: 0px;
        font-size: 15px;
        padding: 0px 3px;
        line-height: 21px;
        outline: 0px;
    }

    .search-dollar li:first-child span {
        padding: 3px;
        background-color: #d2985e;
        font-size: 15px;
        color: white;
    }


    /* popular now */

    .popular-now-wrapper {
        padding: 40px 15px;
    }

    .items-block div.item1 {
        width: 23.97%;
        float: left;
        margin: 35px auto 0;
    }

	.items-block .item1:nth-child(odd) {
		padding-right: 0px;
	}

    .item-img img {
        height: 218px;
    }
	
	.items-block .item1:nth-child(4) {
		padding: 0px;
	}
	
	.items-block div.item1:nth-child(n+1):nth-child(-n+3) {
		padding-right: 10px;
	}

    .item-desc ul li:first-child {
        padding: 10px 0px 5px;
    }

    .item-desc ul li a {
        font-size: 14px;
    }

    /* collection */

    .collection-wrapper {
        padding: 40px 15px;
    }

    .collection-wrapper p {
        padding: 30px 0px;
    }

    .sales-ad {
        padding: 50px 0;
    }

    .sale-type {
        font-size: 30px;
    }
    
    .sales-off {
        font-size: 40px;
    }
    
    /* from-collection */
    
    .from-collection-wrapper {
        padding: 40px 15px;
    }

    .from-collection-header p {
        padding: 20px 0;
    }

    .from-collection-navbar-item {
        font-size: 15px;
        padding: 5px 15px;
    }

    .from-collection-navbar {
        text-align: left;
    }

    /* footer */
    .footer-wrapper {
        padding: 40px 15px;
    }

    .footer-col-2, .footer-col-3 {
        width: 50%;
        float: left;
    }

    .hr2 {
        display: none;
    }

    .hr3 {
        clear: both;
    }

}


@media only screen and (min-width: 1024px){
    
    .top-navbar-wrapper {
        max-width: 73.1875em;
        margin: 0 auto;
    }

    .top-navbar-wrapper-left ul li {
        font-size: 12px;
    }

    .top-navbar-wrapper-right {
        font-size: 12px;
    }

    /* navbar */
    .navbar-wrapper {
        max-width: 73.1875em;
        margin: 0 auto;
        padding: 0;
    }

    .categories ul {
        line-height: 110px;
        width: 82.9205%;
        margin: 0 auto;
    }

    #logo-small {
        display: none;
    }

    li#logo {
        display: inline-block;
        width: 20%;
    }

    li#logo img {
        vertical-align: middle;
    }

    .categories ul li {
        padding: 0;
        width: 9.5%;
        text-align: center;
        font-size: 13px;
    }

    .header-main-wrapper {
        max-width: 73.1875em;
        margin: 0 auto;
    }

    .header-main-wrapper-content {
        width: 82.9205%;
        margin: 0 auto;
    }

    .header-main-title {
        padding-top: 72px;
        padding-bottom: 81px;
    }

    .header-main-title h1 {
        font-size: 50px;
    } 

    .header-main-title p {
        margin-top: 43px;
        margin-bottom: 36px;
    }

    /* bottom navbar */

    .search-dollar {
        margin-top: 0px;
        float:right;
        clear: none;
    }

    .shop-cart-text {
        float: none;
    }

    .search-dollar li:nth-child(2) {
        float: left;
    }

    .bottom-navbar-wrapper {
        max-width: 73.1875em;
        margin: 0px auto;
        padding: 0px 15px;
        line-height: 60px;
    }

    .lang-curr {
        margin-bottom: 0px;
    }

    .bottom-navbar-right {
        float: right;
    }

    .search-dollar li:first-child input {
        font-size: 13px;
        padding: 0px 16px;
        line-height: 39px;
    }

    .search-dollar li:first-child span {
        font-size: 13px;
        line-height: 39px;
        padding: 0px 10px;
        color: white;
    }

    .search-dollar .fa-shopping-cart {
        font-size: 13px;
        line-height: 39px;
        padding: 0px 10px;
    }

    .search-dollar .amount {
        font-size: 13px;
        padding: 11.5px 16px;
    }

    .search-dollar li:first-child {
        margin-right: 16px;
    }

    .shop-cart-text li {
        margin-left: 0px;
        margin-right: 17px;
    }

    .lang-curr-dropdown {
        line-height: 40px;
    }

    .lang-curr-dropdown li:first-child {
        padding: 0px;
    }

    /* popular-now-wrapper */
    .popular-now-wrapper {
        max-width: 73.1875em;
        margin: 0 auto;
        padding-top: 61px;
        padding-bottom: 80px;
    }

    .popular-now-nav {
        padding-top: 38px;
        padding-bottom: 38px;
        margin: 0 auto;
    }

    .popular-now-nav ul li {
        width: auto;
        text-align: unset;
    }

    .popular-now-nav ul li:not(:last-child) {
        padding-right: 50px;
        margin-right: 0px;
    }

    .item-img img {
        height: unset;
        width: 100%;
        margin: 0px;
    }

    .item-desc ul li:first-child {
        padding: 0px;
    }
    
    .items-block {
        width: 100%;
    }

    .items-block div.item1:nth-child(odd){
        float: left;
    }

    .items-block div.item1:nth-child(even) {
        float: left;
    }

    .item1 .item-img {
        padding: initial;
    }

    .item1 .item-desc {
        padding: initial;
    }

    .item-desc ul li:first-child {
        padding: initial;
    }

    .item-block {
        text-align: justify;
    }

    .items-block > .item1 {
        width: initial;
        margin-top: 45px;
        float: left;
    }

    .items-block div.item1 {
        width: 24.2470%;
    }

    .item-desc ul li a {
        font-size: 15px;
    }

    /* COLLECTION */

    .collection-wrapper {
        max-width: 73.1875em;
        padding-top: 67px;
        padding-bottom: 74px;
        margin: 0 auto;
    }

    .collection-wrapper p {
        width: 48.7617%;
        padding-top: 46px;
        padding-bottom: 39px;
        line-height: 30px;  
    }

    .collection-wrapper button {
        padding: 18px 28px;
        margin-bottom: 21px;
    }

    .item-desc ul li:first-child {
        padding: 12px 0px 7px;
    }

    .sales-ad {
        line-height: initial;
        padding: initial;
    }

    .sales-info {
        padding-top: 102px;
        padding-bottom: 109px;
    }

    .sale-type {
        font-size: 30px;
        
    }

    .sales-off {
        font-size: 50px;
    }

    .newsletter {
        display: block;
        background-color: #f9f9f9;
    }

    .newsletter-wrapper {
        max-width: 73.5625em;
        margin: 0 auto;
        padding: 0px 5px;
    }

    .newsletter-inner-wrapper {
        width: 82.4980%;
        margin: 0 auto;
        line-height: 115px;
    }

    .newsletter-wrapper form label {
        width: 20.6718%;
        font-size: 20px;
        color: #2a2a2a;
    }

    .newsletter-wrapper form input {
        width: 41.358%;
        font-size: 15px;
        padding-left: 24px;
        padding-right: 17px;
        line-height: 43px;
        margin-left: 44px;
        outline: 0px;
        color: #686868;
        margin-right: 13px;
        border: 1px solid #d2985e;
    }

    .newsletter-wrapper form button {
        width: 16.6107%;
        line-height: 45px;
        border: 0px;
        background-color: #d2985e;
        cursor: pointer;
        color: white;
    }

    .from-collection-wrapper {
        max-width: 73.1875em;
        margin: 0 auto;
        padding: 66px 15px;
    }

    .collection-title {
        text-align: left;
    }

    .from-collection-header {
        margin: 42px 0px;
    }

    .from-collection-header p{
        font-size: 15px;
        line-height: 30px;
        width: 47.5684%;
        margin: 0;
        text-align: left;
        float: left;
        padding: 0px;
    }

    .from-collection-navbar{
        margin: 0;
        float: right;
    }

    .from-collection-navbar-item {
        font-size: 15px;
        padding: 0px 24px;
        
    }

    .from-collection-navbar a {
        display: inline-block;
        line-height: 48px;
    }

    .from-collection-wrapper .items-block div:nth-child(n+5):nth-child(-n+8) {
        display: block;
        padding-right: 10px;
        float: left;
    }

    .from-collection-wrapper .items-block div:nth-child(n+8){
        padding: 0px !important;
    }

    .from-collection-wrapper .items-block div:nth-child(5) {
        margin-left: 0;
    }

    .from-collection-desktop .item1 {
        margin-bottom: 45px;
    }

    .from-collection-wrapper button{
        font-size: 15px;
        padding: 0px 37px;
        line-height: 48px;
        margin: 48px auto 0px;
    }


    .about-us {
        display: block;
        width: 100%;
        background-color: #f9f9f9;
        position: relative;
    }

    .about-us-wrapper {
        max-width: 73.1875em;
        margin: 0px auto;
        height: 658px;
    }

    .about-us-img {
        width: 50%;
        position: absolute;
        left: 0px;
    }

    .about-us-img img {
        width: 100%;
        height: 659px;
        display: block;
    }

    .story-behind {
        width: 29.222%;
        float: left;
        margin-left: 620px;
        padding-top: 63px;
        padding-bottom: 70px;
    }

    .story-behind-title {
        font-size: 25px;
        font-family: Montserrat;
        color: #2a2a2a;
    }

    .about-logo {
        margin-top: 39px;
        margin-bottom: 41px;
    }

    .story-behind p{
        font-family: lora;
        font-size: 15px;
        color: #686868;
        line-height: 30px;
    }

    .contact-us {
        border: 1px solid #d2985e;
        background-color: transparent;
        font-size: 15px;
        padding: 0px 37px;
        line-height: 48px;
        margin: auto;
        color: #2a2a2a;
        cursor: pointer;
        margin-top: 53px;
    }



    .footer-wrapper {
        max-width: 73.1875em;
        margin: 0 auto;
        padding: 61px 15px 68px 15px;
    }

    .footer-wrapper hr {
        display: none;
    }

    .footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
        padding: 0px;
        float: left;
    }

    .footer-col-1 {
        width: 31.5969%;
        padding-right: 30px;
    }

    .footer-col-2 {
        width: 14.6029%;
        padding-right: 29px;
    }

    .footer-col-3 {
        width: 14.6029%;
        padding-right: 30px;
    }

    .footer-col-4 {
        width: 30.2486%;
    }

    .footer-col-1 p {
        padding-top: 32px;
        padding-bottom: 48px;
        font-size: 15px;
        line-height: 30px;
    }

    .created-by, .copyright {
        font-size: 13px;
    }

    .footer-col-2, .footer-col-3 ul li {
        text-align: left;
    }

    .footer-wrapper ul li:not(first-child) {
        font-size: 13px;
        
    }

    .footer-wrapper ul li {
        line-height: 36px;
    }

    .footer-col-4 p, .footer-col-4 a, .footer-col-4 .footer-icons {
        font-size: 13px;
    } 

    .footer-col-4 {
        line-height: 36px;
    }

    .footer-icons {
        float: none;
    }

    .graphberry-gmail {
        margin: 30px 0px;
    }

}

@media only screen and (min-width: 1366px) {
    .newsletter-wrapper form input {
        width: 43.3580%;
        margin-left: 53px;
        margin-right: 31px;
    }

    .newsletter-wrapper form button {
        width: 17.6107%;
    }

    .items-block div.item1 {
        width: 24.36%;
    }

    .footer-col-4 {
        width: 31.6019%;
    }

    .story-behind {
        margin-left: 701px;
    }

    .item-desc ul li:first-child {
        padding: 22px 0px 13px;
    }

    .lang-curr ul:first-child {
        margin-right: 28px;
    }

    .shop-cart-text li {
        margin-right: 28px;
    }

    .lang-curr li span {
        padding-left: 12px;
        padding-right: 8px;
    }
}

@media only screen and (min-width: 1920px) {
    .items-block div.item1 {
        width: initial;
    }

    .item1 {
        width: 23.1426%;
    }

    .items-block div.item1:nth-child(n+1):nth-child(-n+3) {
        padding-right: 29px;
    }

    .from-collection-wrapper .items-block div:nth-child(n+5):nth-child(-n+8) {
        width: 23.1426%;
        padding-right: 29px;
    }

    .header-main-title h1 {
        line-height: 53px;
    }

    .header-main-image img {
        width: initial;
        height: initial;
    }

    .header-main-title p {
        margin-top: 35px;
        margin-bottom: 26px;
    }

    .story-behind {
        width: 40.222%;
    }

    .newsletter-wrapper form input {
        width: 43.3580%;
        margin-left: 53px;
        margin-right: 31px;
    }

    .newsletter-wrapper form button {
        width: 17.6107%;
    }

    .footer-col-4 {
        width: 31.6022%;
    }   




}








